.DS_Store
.binstubs/
.bundle/
.capistrano/
.env
.idea/
.rspec-local
.rvmrc
.ruby-version
.yardoc/
*.sublime-*
bin/test_deploy*
config/environments/*
!config/environments/development.rb
!config/environments/test.rb
config/database.yml
coverage
coverage/
coverage.data
db/*
!db/mysql*
doc/
vendor/

