*.log
.DS_Store
.binstubs/
.bundle/
.env
.idea/
.rspec-local
.rvmrc
.ruby-version
.yardoc/
config/deploy/*
!config/deploy/development.rb
!config/deploy/server_settings.rb
config/environments/*
!config/environments/development.rb
config/database.yml
coverage
coverage/
coverage.data
db/
doc/
vendor/

