
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{href: "http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css", rel: "stylesheet", media: "screen"}
    %link{href: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel: "stylesheet", media: "screen"}
    %link{href: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css", rel: "stylesheet", media: "screen"}
    :css
      body {
        margin: 3em;
      }
      table, th, td {
        vertical-align: top;
      }
      td, th { padding: 5px; }
      th {
        text-align: left;
        font-weight: bold;
      }
      h2 { margin-top: 1em; }
      .collection_link {
        font-size: larger;
        padding: 0 0 .5em;
      }
      .resource {
        margin: 0 2em 2.5em 3em;
      }
      .helper {
        cursor: help;
        vertical-align: -7%;
      }
      @media (max-width: 767px) {
        .bs-docs-sidenav {
          width: auto;
          margin-bottom: 20px;
        }
        .bs-docs-sidenav.affix {
          position: static;
          width: auto;
          top: 0;
        }
      }

  %body
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{src: "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"}
    %script{src: "http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"}

    %div.container
      %div.row
        %div.span3
          %ul.nav.nav-list.bs-docs-sidenav.affix.sidebar-nav
            %li
              %a{href: "#nav_home"} Home
            %li
              %a{href: "#nav_usage"} General Usage
            %li
              %a{href: "#nav_batch"} Batch Services

        %div.span9

          %h1#nav_home API Documentation
          %h2#nav_usage General Usage
          %p
            This API provides a RESTful interface to the Stanford Digital Repository for
            authorized access.  The API specifies RESTful resources to access entire or partial
            digital object content, referenced by unique identifiers (DRUIDs).
            -#For more information, please read this documentation and view the
            -#%a{href: "https://github.com/ncbo/ncbo_rest_sample_code"} sample code.
            -#For additional help, please email
            -#%a{href: "mailto:support@bioontology.org", target: "_blank"} support@bioontology.org

          %h2#nav_batch Batch Services

          %p
            These services provide rsync transfers for DRUIDs.

            %ul
              %li Transfer a single DRUID to a pre-configured destination
              %ul
                %li
                  <span class="label label-info">GET</span> <code>/objects/:druid/rsync</code>
                %li
                  example: /objects/druid:dh370hm3931/rsync
                  -# %a{href: "/objects/druid:dh370hm3931/rsync"} /objects/druid:dh370hm3931/rsync


              %li Transfer many DRUIDs to a specified destination, using one of several path types.
              %ul
                %li
                  <span class="label label-info">POST</span> <code>/objects/rsync</code>
                %li
                  Parameters
                  %ul
                    %li druids={druid_id1,druid_id2..,druid_idN}
                    %li destination_host={remote_user_id@remote_host_id}
                    %li destination_home={remote_absolute_path}
                    %li destination_type='druid_id' || 'druid-tree-short' || 'druid-tree-long'
                %li
                  example:
                  :markdown
                    <pre class="prettyprint linenums lang-sh" style="display: table; padding-right: 20px;">
                    sdr_user='sdrAuthorizedUser'
                    sdr_pass='sdrAuthorizedPass'
                    sdr_host='sdrAppHost'
                    druids='druid:dh370hm3931,druid:hv987cf5327,druid:nh358jx9024,druid:sd695sp3501,druid:fq515xp0937'
                    destination_host='RemoteUser@RemoteHost'  # must be accessible from $sdr_host
                    destination_home='/tmp/sdr_rsync'         # may be created if it doesn't exist already
                    destination_type='druid_id' # default || 'druid-tree-short' || 'druid-tree-long'
                    params="druids=${druids}&destination_host=${destination_host}&destination_home=${destination_home}&destination_type=${destination_type}"
                    curl -X POST "https://${sdr_user}:${sdr_pass}@${sdr_host}/sdr/objects/rsync?${params}"
                    </pre>

          %h2#nav_http General REST API Notes

          %h3 Documentation
          :markdown
            The documentation below describes the general HTTP verbs used to work with a RESTful API.

            #### HTTP Verbs
            The API uses different verbs to support processing of resources. This includes things like creating or deleting
            individual resources. Typically, the verbs will be used in conjunction with the URL that represents the id for
            a given resource. Here is how we interpret the verbs:

            - <span class="label label-info">GET</span> Used to retrieve a resource or collection of resources.
            - <span class="label label-info">POST</span> Used to create a resource when the server determines the resource's id.
            - <span class="label label-info">PUT</span> Used to create a resource when a client determines the resource's id.
            - <span class="label label-info">PATCH</span> Used to modify an existing resource. The attributes in a PATCH request will replace existing attributes.
            - <span class="label label-info">DELETE</span> Used to delete an existing resource.



    :javascript
      // @prettify
      !function ($) {
        $(function(){
        window.prettyPrint && prettyPrint()
        })
      }(window.jQuery);
      // #prettify
